

<div class="container-new-pena">

  <div class="row">

    <div class="col-md-12">
      <h1 >Nueva Peña Atlética</h1>
    </div>

    <div class="container d-flex flex-column align-items-center">

      <form action="/pena/new-pena" enctype="multipart/form-data" method="POST">
          <div class="form-group">
          <label for="avatar">Elige la foto de tu peña:</label>
          <input type="file"
        id="avatar" name="avatar"
       accept="image/png, image/jpeg">
        </div>
        <div class="form-group">
          <label for="name-input">Nombre de la peña:</label>
          <input name="name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="country-input">País:</label>
          <input name="country" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="city-input">Ciudad:</label>
          <input name="city" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="site-input">Sede:</label>
          <input name="site" type="text" class="form-control">
        </div>
         <div class="form-group">
          <label for="fundation-input">Año de Fundación:</label>
          <input name="fundation" type="number" class="form-control">
        </div>
        <div class="form-group">
          <label for="number-input">Teléfono de contacto:</label>
          <input name="number" type="number" class="form-control">
        </div>
         <div class="form-group">
          <label for="location">Latitud:</label>
          <input name="latitude" type="text" class="form-control">
        </div>
        <div>
          <label for="location">Longitud:</label>
          <input name="longitude" type="text" class="form-control">
        </div>
    <div id="orden-botton">
     <button type="submit" class="btn btn-dark"  style="margin-right: 30px;">Crear Peña</button>
        <a href="/" class="btn btn-dark">Volver</a>
    </div>
      </form>
     
  
    
  </div>
</div>