

   

      <main>
      <section id="buscador">
         <form method="POST" action="/pena/search" id="form-searcher-penas" class="form-inline my-2 my-lg-0">
				      <label for="country">Selecciona un país:</label>
				      <select class="form-control mr-sm-2" type="search" id="pais" name="country">
                     <option value="Alemania">Alemania</option>
                     <option value="Argentina">Argentina</option>
                     <option value="Australia">Australia</option>
                     <option value="Brasil">Brasil</option>
                     <option value="Belgica">Belgica</option>
                     <option value="China">China</option>
                     <option value="Cuba">Cuba</option>
                     <option value="Dinamarca">Dinamarca</option>
                     <option value="Emiratos Arabes Unidos">Emiratos Arabes Unidos</option>
                     <option value="Escocia">Escocia</option>
                     <option value="Estados Unidos">Estados Unidos</option>
                     <option value="Francia">Francia</option>
                     <option value="Guatemala">Guatemala</option>
                     <option value="Hungria">Hungria</option>
                     <option value="Irlanda Del Norte">Irlanda Del Norte</option>
                     <option value="Israel">Israel</option>
                     <option value="Japon">Japon</option>
                     <option value="Luxemburgo">Luxemburgo</option>
                     <option value="Marruecos">Marruecos</option>
                     <option value="Noruega">Noruega</option>
                     <option value="Polonia">Polonia</option>
                     <option value="Qatar">Qatar</option>
                     <option value="Rumania">Rumania</option>
                     <option value="Rusia">Rusia</option>
                     <option value="Singapur">Singapur</option>
                     <option value="Suecia">Suecia</option>
                     <option value="Timor Oriental" selected="selected">Timor Oriental</option>
                  </select>
			    <input class="btn primary-btn" type="submit" value="Enviar">
			</form>
      </section>
      </main>

      {{!-- <footer class="sponsors">
         <section class="footer-02">
            <a href="http://www.cocacola.es/" title="Coca-Cola" target="_blank"><img id="logo-coca-cola" alt="Coca-Cola" src=""></a>
            <a href="https://www.acronis.com/es-es/" title="Acronis" target="_blank"><img id="logo-acronis" alt="Acronis" src=""></a>
            <a href="https://www.socios.com/es/atletico-de-madrid/" title="Socios.com" target="_blank"><img id="logo-socios-com" alt="Socios.com" src=""></a>
            <a href="https://www.tdtienda.es/ " title="TDSystems" target="_blank"><img id="logo-tdsystems" alt="TDSystems" src=""></a>
            <a href="https://sorare.com/laliga" title="sorare" target="_blank"><img id="logo-sorare" alt="sorare" src=""></a>
            <a href="https://www.rowe-oil.es/" title="Rowe" target="_blank"><img id="logo-rowe" alt="Rowe" src=""></a>
            <a href="https://www.plein.com/es/home/" title="Philip Plein" target="_blank"><img id="logo-philip-plein-2" alt="Philip Plein" src=""></a>
      </section>
		
      </footer>  --}}
