/* *{
  margin:0px;
  padding:0px;
}



body {
 
  color: white;
  background: url("../images/estadio.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


#registro{
  background: url("../images/campeones.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#trajeta-formulario{
  background: url("../images/campeones.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer {
  background-color: #202096;
  position:absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px 0px 20px 0px;
  
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-02 {
  display: flex;
  justify-content: space-between;
} */

body {
  height: 100vh;
}

h1 {
  text-align: center;
}

/* //index */
#buscador{
  text-align: center;
  }

.searchbar-container {
  padding-top: 200px;
}

#form-searcher-penas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  /* game-index */

  #lista-de-partidos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  /* auth  */
  #trajeta-formulario{
    margin-top: 100px;
  }

  /* logos partidos */
  .imagen_logo{
    width:90px;
    height:90px;
  }
  
  /* pena-index */
  #lista-de-penas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  
  /* pena-datails */

  .container-pena-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

  }

    /* ordenar botones */
  #orden-botton{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* crear peña  */
  .container-new-pena{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

  }
/* editar botones */
  .container-edit-pena{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

  }

  .atletibg {
    background-image: url("../images/estadio.jpeg");
    background-size: cover;
    height: 100vh;
  }
  
  .pais-index{
    background-color: white;
    /* padding:20px,10px,20px,10px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px ;
    
  }

  ul{
    color: white;
  }