<h1>Pon tu email y nos pondremos en contacto contigo</h1>

<form action="/nodemailer/unit" method="POST">
  <label for="">Email</label>
  <input type="email" name='email'>
  <div hidden>
      <input type="text" name='subject' value='Bienvenido a la peña Atletica'>
       <input type="text" name='message' value='Bienvenido a la peña Atletica y pronto recibirás el carné de socio'>
  </div>
  <button type="submit">Unete</button>
  </form>
  