<body style="background-color:#2C325F">
<div class="container d-flex flex-column align-items-center" style="color: white;">
<br>
  <h1>Introduce tu email para unirte a la peña</h1>
  <form action="/nodemailer/unit" method="POST" class="px-4 py-3">
    <div class="form-group" >
      <label for="formGroupExampleInput">Email:</label>
      <input type="email" name='email'class="form-control" id="formGroupExampleInput" aria-describedby="emailHelp" placeholder="example@gmail.com"> 
    <div hidden>
    <input type="text" name='subject' value='Bienvenid@ a tu peña Atletica'>
    <input type="text" name='message' value='¡Hola colchoner@! Nos emociona que te hayas unido a esta gran familia, esperamos que disfrutes todos los partidos y momentos que viviras con gente tan atlética como tú.'>
    </div>
    <br>
    <button type="submit" class="btn btn-dark" style="background-color: white; border-color: white; color: black">Unete</button> 
    </div>
    
  </form>

</div>

</body>

